:host {
    display: block;

    // TODO: to powinien być theme zamiast przebity w miejscu
    .mat-toolbar.mat-primary {
        background: #2C3E50;
    }

    .yggdrasil-logo {
        height: 100%;
    }
}
