//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

$md-primary: (
    50 : #e6e8ea,
    100 : #c0c5cb,
    200 : #969fa8,
    300 : #6b7885,
    400 : #4c5b6a,
    500 : #2c3e50,
    600 : #273849,
    700 : #213040,
    800 : #1b2837,
    900 : #101b27,
    A100 : #68abff,
    A200 : #358fff,
    A400 : #0272ff,
    A700 : #0067e7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e3f4f0,
    100 : #b9e3da,
    200 : #8bd0c2,
    300 : #5cbdaa,
    400 : #39ae97,
    500 : #16a085,
    600 : #13987d,
    700 : #108e72,
    800 : #0c8468,
    900 : #067355,
    A100 : #a2ffe2,
    A200 : #6fffd2,
    A400 : #3cffc2,
    A700 : #23ffba,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-warn: (
    50 : #f7e7e6,
    100 : #ecc4bf,
    200 : #e09c95,
    300 : #d3746b,
    400 : #c9574b,
    500 : #c0392b,
    600 : #ba3326,
    700 : #b22c20,
    800 : #aa241a,
    900 : #9c1710,
    A100 : #ffcfcd,
    A200 : #ff9e9a,
    A400 : #ff6c67,
    A700 : #ff544d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$candy-app-primary: mat-palette($md-primary);
$candy-app-accent: mat-palette($md-accent);
$candy-app-warn: mat-palette($md-warn);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
